body {
  font-family: Arial, sans-serif;
}

.drag-handle {
  cursor: grab;
  text-align: center;
  padding: 0 10px;
}

.dragging {
  opacity: 0.5;
  background-color: lightpink;
}

.selected-row {
  background-color: #d1e7dd !important; /* 선택된 행에 녹색 배경 강조 */
}

.vectorset-column {
  max-width: 150px; /* 원하는 너비로 설정 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  overflow: hidden; /* 넘치는 텍스트를 숨기기 */
  text-overflow: ellipsis; /* 말줄임표(...) 표시 */
}

.vectorset-column:hover {
  overflow: visible; /* 마우스를 올렸을 때 텍스트가 보이도록 */
  text-overflow: clip; /* 말줄임표 없애기 */
  white-space: normal; /* 줄바꿈 허용 */
  position: relative;
  z-index: 1;
  background: #f8f9fa; /* 배경색 추가 */
  border: 1px solid #ced4da; /* 테두리 추가 */
  padding: 2px;
}

/* CSS: context menu 스타일 */
.context-menu {
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  min-width: 120px;
  padding: 5px;
}

.context-menu-item {
  padding: 8px;
  cursor: pointer;
}

.context-menu-item:hover {
  background-color: #eee;
}

.current-version {
  background-color: #d1e7dd; /* 연한 녹색 배경 */
  font-weight: bold; /* 진한 글씨 */
}

/* 하단 고정 레이아웃 스타일 */
#compareLayout {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1050;
  transition: height 0.3s;
}

#compareLayout.expanded {
  height: 100px;
}

#dropArea1, #dropArea2 {
  border-style: dashed;
  border-color: #6c757d;
  text-align: center;
  padding: 10px;
  min-height: 50px;
  background-color: #f8f9fa;
}

/* 비교 테이블 하이라이트 */
.table-warning {
  background-color: #fff3cd;
}

/* 비교 테이블 스타일 */
.table-compare tbody tr td {
  vertical-align: middle;
  text-align: center;
  height: 50px; /* 행 높이를 일정하게 설정 */
}

/* 행 높이 동기화 */
.table-compare tbody tr {
  height: 50px;
}

.modal-dialog {
  max-width: 90%; /* 모달의 최대 너비 */
  max-height: 90vh; /* 모달의 최대 높이 */
  margin: auto; /* 중앙 정렬 */
}

#commitMessageModal .modal-dialog {
  max-width: 50%; /* 최대 너비를 50%로 설정 */
  width: 100%;    /* 작은 화면에서 유연한 너비 적용 */
  margin: auto;   /* 중앙 정렬 */
}

#saveAsModal .modal-dialog {
  max-width: 30%; /* 최대 너비를 50%로 설정 */
  width: 100%;    /* 작은 화면에서 유연한 너비 적용 */
  margin: auto;   /* 중앙 정렬 */
}

.modal-content {
  display: flex;
  flex-direction: column;
  max-height: 90vh; /* 모달의 최대 높이 */
}

.modal-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.compare-tables-wrapper {
  display: flex;
  overflow-y: auto; /* 공통 스크롤 적용 */
  max-height: 75vh; /* 모달의 높이 제한 */
}

.table-container {
  flex-grow: 1;
  margin: 0 5px; /* 좌우 여백 */
}

.table-compare thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}